MONGO_URI=mongodb://root:rootpassword@localhost:27017/liquidide?authSource=admin
REDIS_URL=redis://localhost:6379

# Docker runtime image to use for nodejs runs
SANDBOX_NODE_IMAGE=liquidide-sandbox-nodejs:0.1

# Safety limits
RUN_TIMEOUT_MS=8000
RUN_MEMORY=256m
RUN_CPUS=0.5
RUN_PIDS_LIMIT=128

